{% extends 'base.html' %}
{% block form %}
    {% if error %}
        <div class="notification is-danger">
            অনুগ্রহ করে ফর্মটি সঠিক ভাবে পূরণ করুন ।
        </div>
    {% endif%}
    {% if ticket %}
        <div class="notification is-success">
            আপনার রেজিস্টেশন সফল হয়েছে
        </div>
        {% include 'card.html' %}
    {% endif %}
    {% if not ticket %}
        <form method="POST">
        {% csrf_token %}

        <div class="field">
            <label class="label"> নাম</label>
            <div class="control">
                {{ form.name }}
            </div>
            {% for error in form.name.errors %}
                <p class="help is-danger"> {{ error | escape }} </p>
            {% endfor %}
        </div>

        <div class="field">
            <label class="label">ইমেইল </label>
            <div class="control has-icons-left has-icons-right">
                {{ form.email }}
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                <span class="icon is-small is-right"><i class="fas fa-exclamation-triangle"></i></span>
            </div>
            {% for error in form.email.errors %}
                <p class="help is-danger"> {{ error | escape }} </p>
            {% endfor %}
        </div>

        <div class="field">
            <label class="label">মোবাইল নম্বর</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.phone }}
                <span class="icon is-small is-left"><i class="fas fa-phone"></i></span>
            </div>
            {% for error in form.phone.errors %}
                <p class="help is-danger"> {{ error | escape }} </p>
            {% endfor %}
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    আমি সকল নিয়ম কানুন ও শর্তাবলী মেনে নিচ্ছি।
                </label>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link"> ঠিক আছে</button>
            </div>
            <div class="control">
                <button class="button is-danger"> বাতিল</button>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock %}

